img {
    width: 15%;
    height: 15%;
}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;

    mat-card {
        width: 50%;
        height: 50%;
        background: white;

        .row {
            text-align: center;
            color: black;

            button {
                margin-left: 0.5rem;
            }
        }
    }
}